@tailwind base;
@tailwind components;
@tailwind utilities;

/* This is for your new highlight feature */
mark {
    background-color: #EC5E27;
    color: #ffffff;
    padding: 2px 4px;
    border-radius: 4px;
}